.carrusel{
    width: 100%;
    overflow: scroll;  /*provar quitandola*/
    padding: 30px;
    position: relative; /*provar quitandola*/
}
.carrusel__container{
    white-space: nowrap;  /*provar quitandola*/
    margin: 70px 0;
    padding-bottom: 10px;/*estese lo pongo pq o sino se corte un tris la magen abajo*/
}
.carrusel-item{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: brown;
    margin-right: 10px;
    overflow: hidden; /*provar quitandola*/
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carrusel-item:hover ~ .carrusel-item{
    transform: translate3d(100px,0 ,0 ); /*provar quitandola*/
}
 .carrusel-item{
     display: inline-block;
    opacity: 0.3;
}
.carrusel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}

/***********************************************************************/

.carrusel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carrusel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9)0%, rgba(0,0,0,0)100%);
    font-size: 10px;
    opacity: 0.9;
    transition: 450 opacity;
    padding: 10px;
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    bottom: 0;
}
.carrusel-item__details:hover{
    opacity: 1;                 /* creo que es asi*/
}











