*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #21c08b;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    margin: 0%;
    background-color: #ffffff;
}
.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 11px;
}

.title{
    min-height: calc(100vh - 200px);
    background:linear-gradient(#21c08b,#ab88ff) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    flex-direction: column;
}
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }
  .title__h1 {
    animation-name: pulse;
    animation-duration: 2s;
  }

.footer{
    height: 120px;
    width: 100%;
    padding-top: 15px;
    display: flex;
    align-items:center;
    background-color: #ab88ff;
}
.footer a{
    color:#ffffff;
    cursor: pointer;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
