header{
    background-color: #8f57fd;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    background-color: #8f57fd;
}
.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 11px;
}
.header__menu{
    margin-right: 30px;
}
.header__menu--perfil{
    margin-right: 30px;
    display: flex;
    color: rgb(255, 255, 255);
    align-items:initial ;
}
.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0 0 0 -14px;
}
.header__menu--perfil img{
    margin-right: 15px;
    width: 30px;
    height: 30px;
}
.header__menu--perfil:hover ul, ul:hover{
    display: block;
}
.header__menu li{

    margin: 10px  0;
}
.header__menu li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header__menu .li-cuenta{
    margin-top: 70px;
}
.header__menu li a:hover{
    text-decoration:underline;
}
.header__menu--perfil p{
    margin-top: 0px;
}
/*//////////////////////////////////////////////////////////////*/

.main{
    height: 300px;
}
.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 300px;
    padding-top: 100px;
}
.main__title{
    color: rgb(255, 255, 255);
    font-size: 25px;

    margin-bottom: 60px;
}
.input{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    font-family: 'muli',sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0% 15px;
    width: 70%;
    outline: none;
}
input::placeholder{
    color: rgb(255, 255, 255);
}
.categories__tittle{
    width: 100%;
    padding-left: 30px;
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    
}
/*///////////////////////////////////carrusel////////////////////////*/
.carrusel{
    width: 100%;
    overflow: scroll;  /*provar quitandola*/
    /*padding: 30px;*/
    position: relative; /*provar quitandola*/
}
.carrusel__container{
    white-space: nowrap;  /*provar quitandola*/
    margin: 70px 0;
    padding-bottom: 10px;/*estese lo pongo pq o sino se corte un tris la magen abajo*/
}
.carrusel-item{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: brown;
    margin-right: 10px;
    overflow: hidden; /*provar quitandola*/
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carrusel-item:hover ~ .carrusel-item{
    transform: translate3d(100px,0 ,0 ); /*provar quitandola*/
}
 .carrusel-item{
     display: inline-block;
    opacity: 0.3;
}
.carrusel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}
.carrusel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carrusel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9)0%, rgba(0,0,0,0)100%);
    font-size: 10px;
    opacity: 0.9;
    transition: 450 opacity;
    padding: 10px;
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    bottom: 0;
}
.carrusel-item__details:hover{
    opacity: 1;                 /* creo que es asi*/
}
/*///////////////////////////////////footer/////////////////////*/
.footer{
    height: 90px;
    width: 100%;
    display: flex;
    align-items:center;
    background-color: #ab88ff;
}
.footer a{
    color:#ffffff;
    cursor: pointer;
    padding-left: 30px;
    text-decoration: none;
    cursor: pointer;
    padding-right: 50px;
}
